@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'light-mode';
@import 'dark-mode';



.nav {
  margin: 25px 0px 25px 125px;
  display: flex;
  justify-content: space-between;

  .menu__list {
    gap: 0 50px;
    display: flex;
    justify-content: space-between;

    --var-fontcolor: #000;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;



    &__list-item {}

    &__list-link {}

  }

  .menu-left {}

  .menu-right {
    margin-right: 50px;

    text-transform: uppercase;

  }

  /* The switch - the box around the slider */
  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    transition: .4s;
    border-radius: 30px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: rgb(219, 198, 2);
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #000000;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #000000;
  }

  input:checked+.slider:before {
    transform: translateX(1.5em);
  }

  .slider::after {
    width: 20px;
    height: 20px;
    left: 20%;
    top: 10%;
    border-radius: 50%;
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    transition: ease 0.4s;
  }

  input:checked+.slider::after {
    left: 80%;
    width: 0px;
    height: 0px;
  }
}







/* 320px - найменший девайс. Це гранична ширина екрану, під яку потрібно перевіряти верстку */
/* 991px - ширина планшетів */


/* == ВАРІАНТ 1 == */

/* Екстремальні девайси (портретні телефони, < 576px)  */
/* Малі девайси (горизонтальні телефони, >= 576px) */
@media (min-width: 576px) {}

/* Середні девайси (планшети, >= 768px) */
@media (min-width: 768px) {}

/* Великі девайси (десктопи, >= 992px) */
@media (min-width: 992px) {}

/* Надвеликі девайси (великі десктопи, >= 1200px) */
@media (min-width: 1200px) {}

/* Мегавеликі девайси (великі десктопи, >=1400px) */
@media (min-width: 1400px) {}


/* == ВАРІАНТ 2 == */

/* Екстремальні девайси (телефони, < 576px) */
@media (max-width: 575.98px) {}

/* Малі девайси (горизонтальні телефони, < 768px) */
@media (max-width: 767.98px) {}

/* Середні девайси (планшети, < 992px) */
@media (max-width: 991.98px) {}

/* Великі девайси (великі десктопи, < 1200px) */
@media (max-width: 1199.98px) {}

/* Мегавеликі девайси (великі десктопи) */
/* Тут нема @media, так як такі брейкпойнти не мають верхньої межі по ширині width */


/* == ВАРІАНТ 2 (власний)== */

/* Екстремальні девайси (телефони, < 576px) */
@media (max-width: 576px) {}

/* Малі девайси (горизонтальні телефони, < 768px) */
@media (max-width: 768px) {}

/* Середні девайси (планшети, < 992px) */
@media (max-width: 992px) {}

/* Великі девайси (великі десктопи, < 1200px) */
@media (max-width: 1200px) {}

/* Мегавеликі девайси (великі десктопи) */
/* Тут нема @media, так як такі брейкпойнти не мають верхньої межі по ширині width */


/* == ВАРІАНТ 3 == */

/* Екстремальні девайси (портретні телефони, < 576px) */
@media (max-width: 575.98px) {}

/* Малі девайси (горизонтальні телефони, >= 575px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Середні девайси (планшети, >= 768px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Великі девайси (десктопи, >= 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Мегавеликі девайси (великі десктопи, >= 1200px) */
@media (min-width: 1200px) {}